<h1><%= @town.name %></h1>
<p>Population: <%= @town.population %></p>
<p>Year Round Riding? <%= @town.year_round_riding %></p>
<p>Number of trails: <%= @town.trails.count %></p>
<p><a href="/towns/:town_id/trails">Trails</a></p>